body {
  background-color: #ededed;
}

.timeline-card {
    font-size: 12px;
    padding: 5px;
    max-height: 600px;
}

.mdl-new-card {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 7px;
}

.top-row {
    width: 100%;
    padding-bottom: 5px;
}

.top-container {
    float: left;
}

.info-text {
    display: inline-block;
    color: #495358;
    padding-left: 6px;
}

.from-text {
    font-size: 14px;
    font-weight: bold;
}

.date-and-time {
    font-size: 13px;
}

.right-menu {
    box-sizing: border-box;
    float: right;
    cursor: pointer;
}

.description {
    padding-bottom: 5px;
    font-size: 14px;
    padding-left: 5px;
}
.url-href{
  padding-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.description:empty {
  display: none;
}

.bookmark-container {
    position: relative;
    height: 70px;
    color: #495358;
}

.bookmark-image {
    width: 30%;
    float: left;
    height: 70px;
}
.delete-icon{
  font-size: 15px !important;
  padding-right: 5px;
  padding-top: 3px;
}
.bookmark-description {
    padding-left: 30%;
    margin-left: 10px;
    position: absolute;
    overflow: hidden;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 13px;
    height: 40px;
}

.bookmark-image-domain {
    margin-left: 10px;
    padding-left: 30%;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
}

.image-tag {
    width: 100%;
    height: 100%;
}

.spinner-top{
  text-align: center;
  margin: 15px;
}

.spinner-bottom{
  text-align: center;
  margin: 15px;
}

.empty-data-text{
    text-align: center;
    margin-top: 250px;
}
a {
  cursor: pointer;
}

.url-lables{
  padding: 5px;
}

.session-form{
  margin-top: 5px;
}

.session-input{
  width: 70%;
  margin-left: 10px;
}

.session-button{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.selected-tag{
  background: #fafafa;
}

.fab-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

div.ReactTags__tags {
    position: relative;
}
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}
div.ReactTags__suggestions {
    position: absolute;
    z-index: 3000;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}

.custom-error{
    background-color: #bd362f;
    margin: 10px;
    min-height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.custom-error-text{
    color: #fff;
    font-weight: bold;
    vertical-align: center;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.center-align-outer-div {
    width: 100%;
    text-align: center;
}

.center-align-inner-div {
    display: inline-block;
}

.error-text{
  float: left;
}

.error-text-button{
  float: right;
}
.center-align-progress-bar{
  text-align: center;
}
