html {
  min-width: 450px;
  font-family: 'Roboto', sans-serif !important;
}

body {
  min-width: 450px;
  background-color: #ededed;
}

main {
  width: 100%;
}

.mdl-layout__header {
  background-color: #31394C;
}

.mdl-button--raised.mdl-button--colored {
  background: #31394C;
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: #31394C;
}

.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: #31394C;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: #00CC99;
}

.mdl-button--fab.mdl-button--colored {
  background: #00CC99 !important;
}

.mdl-button--fab.mdl-button--colored:hover {
  background: #00CC99 !important;
}

a {
  color: #00CC99;
}

.mdl-button--raised.mdl-button--colored:active {
  background-color: #31394C;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: #31394C;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border: 2px solid #455A64;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #455A64;
}

.toolbar-viewed {}

.toolbar-viewed-title {
  margin-top: 18px;
  font-weight: bold;
}

.toolbar-count {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 16px;
}

.toolbar-queue-count {
  margin-left: 5px;
  font-size: 16px;
}

.toolbar-viewed-icon {
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.toolbar-search-icon {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 5px;
}

.toolbar-queue-search-icon {
  margin-left: 10px;
  margin-right: 5px;
}

.search-icon {
  height: 20px !important;
}

.error-heading {
  font-size: 20px;
  color: red;
}

.search-textfield {
  padding: 10px 0px !important;
}

.count-text {
  margin-top: 20px;
}

.mdl-layout__content {
  overflow-y: scroll;
}

.selected-tag {
  background: #fafafa;
}

.mdl-grid {
  padding: 0px;
  width: 100%;
}

.mdl-layout__header-row {
  padding-left: 20px !important;
}

.data-inconsistent-text {
  padding-top: 24px;
}

.voblet-href {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.mdl-layout__tab-bar-left-button {
  display: none !important;
}

.mdl-layout__tab-bar {
  padding-left: 0px !important;
}

.bookmark-chip {
  display: inline-block;
  color: rgba(0, 0, 0, .77);
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}

.bookmark-chip__text {
  font-size: 12px;
  font-weight: 400;
  border-radius: 2px;
  background-color: #dedede;
  padding: 2px;
  margin-right: 4px;
  font-family: 'Roboto', sans-serif;
}

.icon-nav {
  color: white;
  padding-left: 15px;
  font-size: 18px;
}

.fab-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.viewed-links-count {
  text-align: center;
  font-weight: bold;
  text-decoration: line-through;
  cursor: pointer;
  margin: 30px;
}

.center-align-progress-bar {
  text-align: center;
}

.mdl-new-card {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 7px;
}

.queue-toolbar {
  background-color: #fff !important;
}

.favorite-icon {
  color: red !important;
}


/*v1

.top-row {
    width: 100%;
    padding-bottom: 5px;
}

.timeline-card {
    font-size: 12px;
    padding: 7px;
    max-height: 600px;
}

.description {
    padding-bottom: 3px;
    font-size: 13px;
}
.url-href{
  font-size: 14px;
  cursor: pointer;
  color: #556066;
}
*/


/*v2*/

.top-row {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.timeline-card {
  font-size: 12px;
  max-height: 600px;
}

.timeline-card:hover .show-on-card-hover {
  display: inline-block !important;
}

.timeline-card:hover .hide-on-card-hover {
  display: none !important;
}

.show-on-card-hover {
  display: none !important;
}

.voblet-container {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}

.description {
  margin-left: 5px;
  font-size: 13px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
}

.url-href {
  font-size: 13px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #556066;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
}

.mark-checkbox {
  float: left;
  margin-right: 5px;
}

.mdl-checkbox__box-outline {
  top: 1px !important;
}

.mdl-voblet-checkbox-outline {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, .54);
  border-radius: 2px;
  z-index: 2;
}

.custom-error {
  background-color: #bd362f;
  margin: 10px;
  min-height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.custom-error-text {
  color: #fff;
  font-weight: bold;
  vertical-align: center;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.top-container {
  float: left;
  width: 60%;
}

.info-text {
  width: 100% display: inline-block;
  color: #495358;
}

.from-text {
  font-size: 14px;
  font-weight: bold;
}

.date-and-time {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
}

.right-menu {
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

.more-vert-icon {
  float: right;
}

.bookmark-right-menu {
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

.image-card {}

.description:empty {
  display: none;
}

.bookmark-container {
  padding: 5px;
  position: relative;
  height: 80px;
  color: #495358;
}

.bookmark-container-without-image {
  padding: 5px;
  position: relative;
  color: #495358;
}

.bookmark-image {
  width: 30%;
  float: left;
  height: 80px;
}

.bookmark-description {
  padding-left: 30%;
  margin-left: 10px;
  position: absolute;
  overflow: hidden;
  padding-right: 5px;
  font-size: 13px;
  height: 38px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.74);
  font-family: 'Roboto', sans-serif;
}

.bookmark-description-without-image {
  overflow: hidden;
  padding-right: 5px;
  font-size: 13px;
  height: 38px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.74);
  font-family: 'Roboto', sans-serif;
}

.bookmark-tags {
  position: absolute;
  padding-left: 30%;
  margin-left: 10px;
  margin-top: 40px;
  overflow: hidden;
  height: 20px;
}

.bookmark-tags-without-image {
  overflow: hidden;
  height: 20px;
}

.bookmark-image-domain {
  padding-left: 30%;
  margin-left: 10px;
  position: absolute;
  bottom: 3px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.bookmark-image-domain-without-image {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.image-tag {
  width: 100%;
  height: 100%;
}

.spinner-top {
  padding-left: calc(50% - 20px);
}

.spinner-top-bookmarks {
  padding-left: calc(75% - 20px);
}

@media(max-width: 480px) {
  .spinner-top-bookmarks {
    padding-left: calc(50% - 20px);
  }
  .show-on-mobile {
    display: block !important;
  }
  .dont-show-on-mobile {
    display: none !important;
  }
}

.show-on-mobile {
  display: none;
}

.dont-show-on-mobile {
  display: block;
}

.spinner-top-wrapper {
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
}

.spinner-bottom {
  text-align: center;
  margin: 15px;
}

.empty-data-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  cursor: pointer;
}

.url-lables {
  padding: 5px;
}

.session-button {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

.pointer {
  cursor: pointer;
}

.card-right-icon {
  cursor: pointer;
  font-size: 15px !important;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.74);
}

.bookmark-toolbar {
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.url-lables-card {
  margin: 5px;
}

.delete-icon {
  font-size: 15px !important;
  padding-right: 5px;
  padding-top: 3px;
}

.dialog-wrapper {
  position: fixed;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1500;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  padding-top: 16px;
}

.custom-dialog {
  position: absolute;
  box-sizing: border-box;
  margin-left: -200px;
  margin-top: -150px;
  top: 50%;
  left: 50%;
  width: 250px;
  background: white;
  z-index: 100000;
  color: black;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.custom-dialog:after {
  content: " ";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  left: 50%;
  margin-left: -5px;
  bottom: 100%;
  position: absolute;
}

.custom-dialog-aligned {
  position: absolute;
  box-sizing: border-box;
  margin-left: -270px;
  margin-top: -150px;
  top: 50%;
  left: 50%;
  width: 250px;
  background: white;
  z-index: 100000;
  color: black;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.custom-dialog-aligned:after {
  content: " ";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  left: 75%;
  margin-left: 0px;
  bottom: 100%;
  position: absolute;
}

.dialog-content {
  min-height: 30px;
  max-height: 110px;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-left: 24px;
  margin-right: 24px;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.54);
}

.dialog-title {
  font-weight: 500;
  ;
  padding: 24px 24px 10px 24px;
  font-size: 19px;
}

.dialog-footer {
  padding-right: 8px;
  padding-bottom: 5px;
  float: right;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.tag-label {
  margin: 10px;
}

.mdl-checkbox__label {
  padding-left: 20px;
}

.green {
  color: green;
}

.queue-count {
  font-size: 12px;
  display: block;
  height: 20px;
  color: #d74e48;
  font-weight: bold;
  background: rgba(215, 78, 72, 0.1);
  padding: 2px 6px;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.queue-viewed-count {
  font-size: 12px;
  display: block;
  height: 20px;
  color: #d74e48;
  font-weight: bold;
  background: rgba(215, 78, 72, 0.1);
  padding: 2px 6px;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.tags-wrapper {
  margin-top: 5px;
  margin-left: 24px;
  margin-right: 24px;
}

div.ReactTags__tags {
  position: relative;
}

div.ReactTags__tagInput {
  min-width: calc(100% - 10px);
  border-radius: 2px;
  margin: 5px;
  display: inline-block;
  color: black;
}

*::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.68) !important;
}

div.ReactTags__tagInput input, div.ReactTags__tagInput input:focus {
  box-sizing: border-box;
  height: 31px;
  font-size: 12px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.27);
  color: black;
}

div.ReactTags__selected {
  float: left;
  min-width: 100%;
}

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
  z-index: 3000;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
  background: #b7cfe0;
  cursor: pointer;
}

input:focus {
  outline-width: 0;
}

.react-tags-wrapper {
  padding-top: 10px;
}
