#main-content {
  width: 100%;
}
.mdl-layout__content {
  width: 100%;
}
.mdl-grid {
  margin: 0px;
  width: 100%;
}
.voblet-href {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.mdl-card {
  width: 100%;
  padding: 0px;
  min-height: 10px;
}
.spinner-top {
  text-align: center;
  margin: 15px;
}
.left-navigation-link {
  display: block;
  padding: 20px;
  margin: 0;
  color: #272727;
  text-align: center;
  text-decoration: none;
  font-weight: 1000;
  font-size: 15px;
}
.active-list-item {
  background-color: #ECECEC;
}
.main-heading {
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.79);
}
.side-heading {
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.79);
}
.file-upload{
  padding: 10px;
}

.url-click{
  cursor: pointer;
  color: #50BCB6;
  text-decoration: underline;
}

.side-body {
  padding-left: 40px;
}
.main-content-wrapper {
  margin-right: 20px;
}
.main-content {
  padding: 50px;
}
.all-notifcations-checkbox {
  padding-left: 30px;
}
.left-navigation-link:hover {
  background-color: #ECECEC;
}

.mdl-textfield__label:after {
    background-color: #31394C;
}
.center-align-progress-bar{
    text-align: center;
}
body {
  background-color: #FBFBFB;
}
.mdl-layout__header {
  background-color: #31394C;
}
.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: #31394C;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border: 2px solid #455A64;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #455A64;
}
.mdl-button--raised.mdl-button--colored {
  background: #31394C;
}
.mdl-button--raised.mdl-button--colored:hover{
  background: #31394C;
}
.mdl-button--raised.mdl-button--colored:active {
    background-color: #31394C;
}
.mdl-button--raised.mdl-button--colored:focus:not(:active){
    background-color: #31394C;
}

a {
    color: #00CC99;
}
.sync-button {
  width: 350px;
}
.hidden {
  display: none;
}
.device-name {
  padding-top: 25px;
}
.update-device-button {
  margin-top: 10px;
}
